.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: #d6423a;
  color: #e0fbfc;
  padding: 50px;
  border-radius: 5px;
  width: 500px;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 50%);
}

.modal-headling {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.modal-paragraph {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.modal-btn {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #ee6c4d;
  padding: 0 15px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #ee6c4d;
  margin: 15px;
}

.modal-btn:hover {
  outline: none;
  border: 1px solid #4df275;
  background-color: #ee6c4d;
  color: #e0fbfc;
}
